# DATABASE ENV VARIABLES
DATABASE_USER="postgres"
DATABASE_PASSWORD="postgres"
DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_NAME="peaker"

# JWT ENV VARIABLES
JWTSECRETKEY="openssl generated key"
EXPIRATION_LIMIT="3hr"